@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    font-family: Nunito, sans-serif;
    --body: #1b263b;
    --heading: #0d1b2a;
    --text: #e0e1dd;
    --container: #778da9;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--body);
    color: var(--body);
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(300px, 20%) 1fr;
    grid-template-rows: min-content 1fr;
    height: 100%;
}

header {
    grid-column: span 2;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem 3rem;
    color: var(--text);
    background-color: var(--heading);
}

aside {
    background-color: var(--container);
    padding: 1rem;
}

.row {
    margin: 1rem 0;
}

.row > label, label[for="read"] {
    display: block;
    padding-bottom: 0.25rem;
    font-size: 1.2rem;   
}

.row > label.required:after {
    content: "*";
    color: darkred;
}

.row > input[type="text"], .row > input[type="number"] {
    border-radius: 1rem;
    height: 2rem;
    border: none;
    padding: 0 .5rem;
    width: calc(100% - 1rem)
}

form > #submit {
    margin-top: 3rem;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    background-color: orange;
    border: none;
}

main {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px)
}

.card {
    background-color: var(--container);
    height: 300px;
    text-align: center;
    border-radius: 1rem;
}

.card > p:first-of-type {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.card > p {
    margin: 1rem;
}

/* ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch  */
.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b15656;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 26px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
  }
  
  input:checked + .slider {
    background-color: #58b156;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #58b156;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  